html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.landing-container {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-landing {
  background-image: asset-url("landing-page.jpg");
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  h3 {
    // color: #CE2B37;
    font-weight: bold;
    font-size: 36px;
  }

  h4 {
    font-weight: bold;
    font-size: 28px;
  }

  a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;

    &:hover {
      color: #CE2B37;
    }
  }
}

.italy-green {
  color: #009246; /* Italian flag green */
}

.italy-white {
  color: white; /* White part of the flag */
}

.italy-red {
  color: #CE2B37; /* Italian flag red */
}

a.start-link {
  text-decoration: none; /* remove underline */
  color: inherit; /* keep the span colors */
  transition: color 0.3s ease;
}

a.start-link:hover .italy-green,
a.start-link:hover .italy-white,
a.start-link:hover .italy-red {
  color: #CE2B37; /* Apply hover color to all spans inside the link */
}

span {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 8px;
}