<div class="landing-container">
  <div class="card-landing">
    <h3>
      <span class="italy-green">E</span><span class="italy-white">nzo</span><span class="italy-red">'s</span>
    </h3>
    <h4>
      <span class="italy-green">Fai bat</span><span class="italy-white">tere i</span><span class="italy-red">l cuore!</span>
    </h4>
    <p> <%= link_to raw('<span class="italy-green">Ge</span><span class="italy-white">t star</span><span class="italy-red">ted</span>'), cars_path, class: 'start-link' %> </p>
  </div>
</div>